
.mapClass {
  padding-top:0rem;

}
/* Cards */
.card {
  padding: .5rem;
  border: black;
}


.card-image{
  height: 200px; 
  overflow: hidden;
}

.card-content{
  height: 100px; 
  overflow: scroll;
}

.card-content-admin{
  height: 150px; 
  overflow: scroll;
}

.card-forum{
  height: 800px; /* Your height here */
  overflow: scroll;
}

.card-action{
  height: 50px; /* Your height here */
  overflow: scroll;
}

.card-heading{
  border: none
}

.btn{
  margin-right: 1rem;
}

select {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.building-info {
  height: 400px
}



.navbar ul {
  display: flex;
}

.nav-wrapper {
  font-size: 1.5rem;
}